.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #ffdd59;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #596275;
}
h1{

height: 8vh;
display: block;
overflow: auto;
background-color: pink;
color: red;
font-size: 28px;

}
.head{
  background-color: #596275;
}


.Container {
height: 95vh;
display: flex;
}

pre{
  background-color: #d2dae2;
}
pre, textarea {
  width: 50%;
  font-family: monospace;
  font-size: 28px;
  margin: 0;
  padding: 10px;
  color: #1e272e;
}

textarea:focus {outline: }

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
